1. Scaling/ Normalization
2. Pipelining

In [105]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.utils.testing import ignore_warnings
from sklearn.exceptions import ConvergenceWarning
@ignore_warnings(category=ConvergenceWarning)

SyntaxError: unexpected EOF while parsing (<ipython-input-105-84e30ae096bb>, line 6)

In [55]:
df = pd.read_csv('Filled-titanic.csv')
df.dropna(inplace=True)
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age stages
0,0,1,0,3,109,2,22.0,1,0,524,7.2500,82,3,2
2,2,3,1,3,354,1,26.0,0,0,670,7.9250,56,3,2
3,3,4,1,1,273,1,35.0,1,0,50,53.1000,56,3,2
4,4,5,0,3,16,2,35.0,0,0,473,8.0500,130,3,2
5,5,6,0,3,555,2,28.0,0,0,276,8.4583,130,2,2

In [76]:
df = pd.get_dummies(df)

In [77]:
df

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age stages
0,0,1,0,3,109,2,22,1,0,524,7.2500,82,3,2
2,2,3,1,3,354,1,26,0,0,670,7.9250,56,3,2
3,3,4,1,1,273,1,35,1,0,50,53.1000,56,3,2
4,4,5,0,3,16,2,35,0,0,473,8.0500,130,3,2
5,5,6,0,3,555,2,28,0,0,276,8.4583,130,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,549,2,27,0,0,102,13.0000,31,3,2
887,887,888,1,1,304,1,19,0,0,15,30.0000,31,3,2
888,888,889,0,3,414,1,28,1,2,676,23.4500,61,3,2
889,889,890,1,1,82,2,26,0,0,9,30.0000,61,1,2
890,890,891,0,3,221,2,32,0,0,467,7.7500,61,2,2

In [78]:
df.Age.dtypes

dtype('int32')

In [79]:
X = df.drop('Survived', axis=1)
y = df['Survived']

## Pipelining in Sklearn

In [80]:
X['Fare'] = X['Fare'].astype(int)

In [81]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   795 non-null    int64
 1   PassengerId  795 non-null    int64
 2   Pclass       795 non-null    int64
 3   Name         795 non-null    int64
 4   Sex          795 non-null    int64
 5   Age          795 non-null    int32
 6   SibSp        795 non-null    int64
 7   Parch        795 non-null    int64
 8   Ticket       795 non-null    int64
 9   Fare         795 non-null    int32
 10  Cabin        795 non-null    int64
 11  Embarked     795 non-null    int64
 12  Age stages   795 non-null    int64
dtypes: int32(2), int64(11)
memory usage: 80.7 KB

----


Filling Missing values with Sklearn

In [82]:
# Import the Imputer module
from sklearn.impute import SimpleImputer
from sklearn.svm import SVC

# Setup the Imputation transformer: imp
imp = SimpleImputer(missing_values='NaN', strategy='most_frequent')

# Instantiate the SVC classifier: clf
clf = SVC()

# Setup the pipeline with the required steps: steps
steps = [('imputation', imp),
        ('SVM', clf)]

In [85]:
# Import necessary modules
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.metrics import classification_report

# Setup the pipeline steps: steps
steps = [#('imputation', SimpleImputer(missing_values='NaN', strategy='most_frequent')),
        ('SVM', SVC())]

# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the pipeline to the train set
pipeline.fit(X_train, y_train)

# Predict the labels of the test set
y_pred = pipeline.predict(X_test)

# Compute metrics
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.95      0.84       110
           1       0.71      0.31      0.43        49

    accuracy                           0.75       159
   macro avg       0.73      0.63      0.63       159
weighted avg       0.74      0.75      0.71       159

## Normalization in Sklearn

**Normalization:** 
* Subtract the mean and divide by varience
* All features are centered around zero and have varience one
* can also subtract the minimum and divide by the range

The Normalized dataset have minimum zero and maximum one


1. Scalling

---

In [86]:
import numpy as np

Z = np.array([40,124,13,567,23])

In [87]:
# Import scale
from sklearn.preprocessing import scale

# Scale the features: X_scaled
X_scaled = scale(Z)

# Print the mean and standard deviation of the unscaled features
print("Mean of Unscaled Features: {}".format(np.mean(Z))) 
print("Standard Deviation of Unscaled Features: {}".format(np.std(Z)))

# Print the mean and standard deviation of the scaled features
print("Mean of Scaled Features: {}".format(np.mean(X_scaled))) 
print("Standard Deviation of Scaled Features: {}".format(np.std(X_scaled)))

Mean of Unscaled Features: 153.4
Standard Deviation of Unscaled Features: 210.47812237855032
Mean of Scaled Features: 6.661338147750939e-17
Standard Deviation of Scaled Features: 1.0

#### Scalling/Normalizing data with Pipeline

In [89]:
# Import the necessary modules
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

# Setup the pipeline steps: steps
steps = [('scaler', StandardScaler()),
        ('knn', KNeighborsClassifier())]
        
# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit the pipeline to the training set: knn_scaled
knn_scaled = pipeline.fit(X_train, y_train)

# Instantiate and fit a k-NN classifier to the unscaled data
knn_unscaled = KNeighborsClassifier().fit(X_train, y_train)

# Compute and print metrics
print('Accuracy with Scaling: {}'.format(knn_scaled.score(X_test, y_test)))
print('Accuracy without Scaling: {}'.format(knn_unscaled.score(X_test, y_test)))

Accuracy with Scaling: 0.7698744769874477
Accuracy without Scaling: 0.6778242677824268

#### GridSearchCV and Scaling with pipeling

In [92]:
from sklearn.model_selection import GridSearchCV

# Setup the pipeline
steps = [('scaler', StandardScaler()),
         ('SVM', SVC())]

pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'SVM__C':[1, 10, 100],
              'SVM__gamma':[0.1, 0.01]}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instantiate the GridSearchCV object: cv
cv = GridSearchCV(pipeline, parameters, cv=3)

# Fit to the training set
cv.fit(X_train, y_train)

# Predict the labels of the test set: y_pred
y_pred = cv.predict(X_test)

# Compute and print metrics
print("Accuracy: {}".format(cv.score(X_test, y_test)))
print(classification_report(y_test, y_pred))
print("Tuned Model Parameters: {}".format(cv.best_params_))

Accuracy: 0.7672955974842768
              precision    recall  f1-score   support

           0       0.82      0.85      0.83       110
           1       0.63      0.59      0.61        49

    accuracy                           0.77       159
   macro avg       0.73      0.72      0.72       159
weighted avg       0.76      0.77      0.77       159

Tuned Model Parameters: {'SVM__C': 10, 'SVM__gamma': 0.01}

In [108]:
from sklearn.linear_model import ElasticNet

## Handling warnings
#------
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings('ignore', category=ConvergenceWarning)

#------
# Setup the pipeline steps: steps
steps = [#('Imputation', SimpleImputer(missing_values='NaN', strategy='mean')),
         ('scaler', StandardScaler()),
         ('elasticnet', ElasticNet())]


# Create the pipeline: pipeline 
pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'elasticnet__l1_ratio':np.linspace(0,1,30)}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Create the GridSearchCV object: gm_cv
gm_cv = GridSearchCV(pipeline, param_grid = parameters, cv=5)

# Fit to the training set
gm_cv.fit(X_train, y_train)

# Compute and print the metrics
r2 = gm_cv.score(X_test, y_test)
print("Tuned ElasticNet Alpha: {}".format(gm_cv.best_params_))
print("Tuned ElasticNet R squared: {}".format(r2))

Tuned ElasticNet Alpha: {'elasticnet__l1_ratio': 0.0}
Tuned ElasticNet R squared: 0.29439876227368433